@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    font-family: 'Nunito Sans', 'Noto Sans', Roboto, sans-serif;
}

.left-side {
    margin-top: 150px; /* make room for card drop-down */
    margin-left: 2%;
    margin-right: 2%;
    width: 16%;
}

/* Map container */
.right-side {
    margin-top: 2%;
    width: 78vw;
    height: 63vh;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 640px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block
    }

}